<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="page-admin"> <!-- Classe adicionada para estilos específicos -->
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <h1>Painel de Administração</h1>

          <!-- Formulário combinado -->
        <form method="POST" action="{{ url_for('logout') }}" class="logout-form">
            <!-- Botão Exportar como input submit com ação alternativa -->
            <button type="submit" 
                formaction="{{ url_for('exportar_consultas') }}"
                formmethod="get"
                class="btn-export">
            Exportar
        </button>
    
        <!-- Botão Sair -->
        <button type="submit" class="btn-sair">Sair</button>
        </form>

        <form method="GET" action="{{ url_for('admin') }}" class="filtro-form">
            <input type="date" name="filtro_data" id="filtro_data" value="{{ filtro_data|default('') }}">
            <button type="submit" class="btn-filtrar">Filtrar</button>
        </form>

        <form method="GET" action="{{ url_for('admin') }}">
            <input type="text" name="filtro_nome" placeholder="Pesquisar por nome" 
                value="{{ filtro_nome if filtro_nome }}">
            <button type="submit">Buscar</button>
            {% if filtro_nome %}
                <a href="{{ url_for('admin') }}">Limpar</a>
            {% endif %}
        </form>
        
    </header> 
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Matricula</th>
                <th class="acao-coluna">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td data-label="Nome">{{ consulta[1] }}</td>
                <td data-label="Email">{{ consulta[2] }}</td>
                <td data-label="Data">{{ consulta[3] }}</td>
                <td data-label="Horário">{{ consulta[4] }}</td>
                <td data-label="Matrícula">{{ consulta[6] }}</td>
                <td class="acao-coluna" data-label="Ação">
                    <form method="POST" action="/admin/excluir">
                        <input type="hidden" name="id" value="{{ consulta[0] }}">
                        <button type="submit" class="btn-excluir">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>
